name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: example_root_password
          MYSQL_DATABASE: example_database
          MYSQL_USER: example_user
          MYSQL_PASSWORD: example_password
        ports: ['3306:3306']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
      env: 
        MYSQL_ENGINE: mysql
        MYSQL_ROOT_PASSWORD: example_root_password
        MYSQL_DATABASE: example_database
        MYSQL_USER: example_user
        MYSQL_PASSWORD: example_password
        MYSQL_HOST: 127.0.0.1
        MYSQL_PORT: 3306
